<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
</head>
<body>
<p>Add Project</p>
<form action="#" th:action="@{/project/add}" th:object="${newProject}" method="post">
    <table border="1">
        <tr>
            <td><label> Name</label></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label>Description:</label></td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect2">Administrator</label>
                </div>
                <select id="inputGroupSelect2" class="custom-select" th:field="${newProject.administrator.userId}">
                    <option th:each="user : ${users}" th:value="${user.userId}"
                            th:text="${user.displayedName}"></option>
                </select>
            </div>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>