<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add participation</title>
</head>
<body>
<form action="#" th:action="@{/participation/add}" th:object="${newParticipation}" method="post">
    <table border="1">
        <tr>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect2">New Participation</label>
                </div>
                <select id="inputGroupSelect2" class="custom-select"
                        th:field="${newParticipation.projectsEntity.projectId}">
                    <option th:each="project:${projects}" th:value="${project.projectId}"
                            th:text="${project.name}"></option>
                </select>
                <select class="custom-select"
                        th:field="${newParticipation.usersEntity.userId}">
                    <option th:each="user:${users}" th:value="${user.userId}"
                            th:text="${user.displayedName}"></option>
                </select>

            </div>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>