<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Participations</title>
    <style>
        #list {
            position: relative;
            left: 510px;
        }

        body {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<br> <br> <br>
<div class="container">
    <a th:href="@{/add-participation}">
        <button type="button" class="btn btn-primary">Assign Project</button>
    </a>
    <h1 align="center">Participations</h1>
    <br><br>
    <li id="list" th:each="participation: ${participations}">
        <p th:text="'Project name : ' + ${participation.projectsEntity.name}"/>
        <p th:text="'Participating users : ' + ${participation.usersEntity.displayedName}"/>
        <a th:href="@{/edit-participation/{id}(id = ${participation.participationId})}">
            <button type="button" class="btn btn-primary">Edit</button>
        </a>
        <a th:href="@{/delete-participation/{id}(id = ${participation.participationId})}">
            <button type="button" class="btn btn-primary">Delete</button>
        </a>
    </li>
</div>
</body>
</html>