<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        body {
            background-color: hotpink;
        }

        #list {
            position: relative;
            left: 505px;
        }
    </style>
    <title>My Projects</title>
</head>
<body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<br> <br> <br>
<div class="container">
    <a th:href="@{/add-project}">
        <button type="button" class="btn btn-primary">Add Project</button>
    </a>
    <h1 align="center">Projects</h1>
    <br> <br>
    <li id="list" th:each="project: ${projects}">
        <p th:text="'Project: ' + ${project.name}"/>
        <p th:text="'Description: ' + ${project.description}"/>
        <p th:text="'Administrator: ' + ${project.administrator.displayedName}"/>
        <a th:href="@{/edit-project/{id}(id = ${project.projectId})}">
            <button type="button" class="btn btn-primary">Edit</button>
        </a>
        <a th:href="@{/delete-project/{id}(id = ${project.projectId})}">
            <button type="button" class="btn btn-primary">Delete</button>
        </a>

</div>
</body>
</html>