<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
</head>
<body>

<li th:each="project: ${projects}">
    <p th:text="'Project:' + ${project.name}"/>
    <p th:text="'Description' + ${project.description}"/>
    <p th:text="'Administrator' + ${project.administrator}"/>
    <a th:href="@{/edit-project/{id}(id = ${project.id})}"><button>Edit</button></a>
    <a th:href="@{/delete-project/{id}(id = ${project.id})}"><button>Delete</button></a>
</li>

</body>
</html>