<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
</head>
<body>

<li th:each="t: ${task}">
    <p th:text="${task.Id}"/>
    <p th:text="${task.name}"/>
    <p th:text="${task.description}"/>
    <p th:text="${task.sprint}"/>
    <p th:text="${task.weight}"/>
    <p th:text="${task.storyPoints}"/>
    <p th:text="${task.inProgress}"/>
    <p th:text="${task.assignedPerson}"/>

</li>

</body>
</html>